In [121]:
# from app import df

import pandas as pd 
import numpy as np 
import os
import json
import matplotlib
# from app import jsonify

# def summarizeData(df):
df = pd.read_csv('./static/uploadsDB/all_stocks_2017-01-01_to_2018-01-01.csv')
category_features = []
threshold = 10
 
for each in df.columns:
  if df[each].nunique() < threshold:
    category_features.append(each)
  elif each == 'Date' :
    category_features.append(each)

for each in category_features:
  df[each] = df[each].astype('category')

# 1-2 dtype에 따라서 df를 numeric과 categroical로 나눔
df_numeric = df.select_dtypes(exclude = ['category']).copy()
df_categorical = df.select_dtypes(include = ['category'] ).copy()

distribution_features = []
interval_features = []
distribution_features_column = []
for each in df_numeric.columns:
  dictdata = {'min':pd.to_numeric(df_numeric[each].min(), downcast="unsigned")}
  dictdata['max'] = pd.to_numeric(df_numeric[each].max(), downcast="unsigned")
    
  interval_features.append(dictdata)
  distribution_features_column.append(df_numeric[each].value_counts(bins=10).to_list())
    
  distribution_features.append(distribution_features_column)
#   배열 초기화
  dictdata = {}
  distribution_features_column = []
    
distribution_features
interval_features
# print(df['Open'].min())

[{'min': 74.89, 'max': 298.7},
 {'min': 75.75, 'max': 299.33},
 {'min': 74.74, 'max': 297.11},
 {'min': 75.32, 'max': 297.9},
 {'min': 87083, 'max': 111985040}]

In [16]:
# from app import df

import pandas as pd 
import numpy as np 
import os
import json
import matplotlib
# from app import jsonify

# def summarizeData(df):
df = pd.read_csv('./static/uploadsDB/all_stocks_2017-01-01_to_2018-01-01.csv')
# 0) df type에 따라서 나누기 (categorical/numeric)
df_categorical = df.select_dtypes(include = ['object']).copy()
df_numeric = df.select_dtypes(include = ['float64'] or ['int64'] ).copy()

# 1) numeric 변수 생성
# df_numeric_type = df_numeric.dtypes
df_numeric_columns = list((df_numeric).columns)
df_numeric_mean =  df_numeric.mean().round(3)
df_numeric_std = df_numeric.std().round(3)
df_numeric_quantile = df_numeric.quantile()
df_numeric_numOfNA = df_numeric.isnull().sum()

# 2) numeric Dataframe 생성
df_numeric_info = pd.DataFrame(index=list(df_numeric.columns)) 

# 3) df에 투입
# df_numeric_info.insert(0,'type',df_numeric_type)
df_numeric_info.insert(0,'mean',df_numeric_mean)
df_numeric_info.insert(1,'std',df_numeric_std)
df_numeric_info.insert(2,'quantile',df_numeric_quantile)
df_numeric_info.insert(3,'numOfNA',df_numeric_numOfNA)

#####################################################

# 1) categorical 변수 생성
df_categorical_columns = list((df_categorical).columns)
df_categorical_mostCommon = df_categorical.value_counts().idxmax()
df_categorical_numOfNA = df_categorical.isnull().sum()

# 2) categorical dataframe 생성
df_categorical_info = pd.DataFrame(index=list(df_categorical.columns)) 

# 3) categorical 변수 df에 투입
df_categorical_info.insert(0,'mostCommon',df_categorical_mostCommon)
df_categorical_info.insert(1,'numOfNA',df_categorical_numOfNA)

# 반환
#   summarizedDF = (df_numeric_info.to_dict(), df_categorical_info.to_dict())
#   return  jsonify(df_numeric_info.to_dict(), df_categorical_info.to_dict(),df_numeric_columns,df_categorical_columns)

           Date    Open    High     Low   Close   Volume Name
0    2017-01-03  178.83  180.00  177.22  178.05  2510055  NaN
1    2017-01-04  178.03  178.90  177.61  178.32  1541985  MMM
2    2017-01-05  178.26  179.14  176.89  177.71  1447848  MMM
3    2017-01-06  177.29  178.60  175.80  178.23  1625049  MMM
4    2017-01-09  178.37  178.38  177.20  177.27  1622625  MMM
..          ...     ...     ...     ...     ...      ...  ...
994  2017-12-15  295.87  297.37  293.02  293.94  6933490   BA
995  2017-12-18  296.00  297.14  294.52  296.14  2901644   BA
996  2017-12-19  296.50  297.58  294.18  297.25  2728367   BA
997  2017-12-20  298.70  299.33  297.11  297.90  2533689   BA
998  2017-12-21  298.05  298.39  294.13  295.03  5398275   BA

[999 rows x 7 columns]